.footer__container {
    background: #141414;
    display: flex;
    align-items:  center;
    justify-content: center;
    padding: 1rem 0 ;
}

.social__media h2{
    /* position: relative; */
    margin-top: 25px;
    bottom: 0;
    color: white;
    font-size: 14px;
    text-align: center;
}


.social__icons {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 50px;
}

.social__icon--link {
    position: relative;
    transition: transform 0.3s ease;
    color: white;
}

.social__icon--link:hover {
    transform: translateY(-10px);
}
