*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}


.main{
    background-color: #141414;
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
}
.main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #1e00ff 0%, #00ffff 100%);
    background-size: 100%;
    padding: 20px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content h2{
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0000 0%, #ff8800 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}


.contactButton {
    text-align: center;
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062, 0%, #fe5196 100%);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    margin-top: 1.5rem;
    position: relative;
    transition: all 1s;
    outline: none;

}
.contactButton a {
    text-decoration: none;
    text-align: center;
    z-index: 1;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.contactButton::before {
    content: "Contact Info";
    font-size: 1.25rem;
    z-index: -1;
    opacity: 1; /* Initially visible */
}

.contactButton:hover::after {
    content: "jjo5541@psu.edu";
    font-size: 1.25rem;
}

.contactButton:hover::before {
    content: "";
    font-size: 1.25rem;
    opacity: 0; /* Initially visible */

}



.main__img--container{
    text-align: center;
}

#main__img{
    height: 80%;
    width: 80%;   
}

@media screen and (max-width: 768px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        width: 100%;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom:  4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top:  2rem;
    }
    .main__content h2 {
        font-size: 3rem;
    }
    .main__content p{
        font-size: 1rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top:  3rem;
    }
    .main__content h2 {
        font-size: 2rem;
    }
    .main__content p{
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .main__btn p{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}





.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items:  center;
    height: 100vh;
}

.services h1 {
    background: #ff8177;
    background-image: linear-gradient(to right, 
    #ff8177 0%, #ff867a 0%,#ff8c7f 21%,#f99185 52%,#cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, 
    rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),  
    url('images/pic2.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, 
    rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%
    ), url('images/pic1.jpg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}
.services__card button{
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services{
        height: 1600px;
    }

    .services h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
    
}

@media screen and (max-width: 480px) {
    .services{
        height: 1400px;
    }

    .services__card{
        width: 300px;
    }
    
}


