*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    height: 80vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 2vw;
}

.main__content h1 {
    font-size: min(max(30px, 5vw), 70px);
    background-image: linear-gradient(to bottom, #5039ff 0%, #00aaaa 90%);
    background-size: 100%;
    padding: 0;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.main__content p {
    font-size: min(max(13px, 2vw), 23px);
    font-weight: 700;
    color: #d1d1d1;
}


.keyword{
    color: #ff4e4e;
}

.contactButton {
    display: block;
    width: auto; /* Adjust width based on content */
    max-width: 80vw; /* Limit maximum width relative to viewport */
    max-height: 70px; /* Limit maximum height to maintain proportions */
    margin: 0 auto; /* Center horizontally */
    text-align: center;
    
    font-size: min(max(.75rem, 3vw ), 22px); /* Scale font size with screen width */
    background: #4027ff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: calc(0.5rem + 0.5vw); /* Scale border-radius with screen width */
    position: relative;
    outline: none;
    cursor: pointer; /* Show pointer cursor on hover */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.contactButton a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.contactButton::before {
    content: "Contact Info";
    z-index: -1;
    opacity: 1; /* Initially visible */
}

.contactButton:hover::after {
    content: "jjo5541@psu.edu";
}

.contactButton:hover::before {
    content: "";
    opacity: 0; /* Hide the initial content on hover */
}




.main__img--containerBIG{
    text-align: center;
}
#main__imgBIG{
    padding-left: 10px;
    height: auto;
    width: 30vw;
    max-width: 475px;   
    border-radius: 25px;
}


.carousel__container {
    margin: 0.75rem auto;
    height: 40vw;
    width: 80vw;
    max-width: 650px;
    max-height: 280px;
    border-radius: 15px;
    background-image: linear-gradient(to top, rgba(155, 155, 155, 0.1) 10%, rgba(155, 155, 155, 0.25) 100%);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__container embed {
    height: 70%;
    width: 95%;
    margin: 0 auto;
}

.carousel {
    padding: 2vh;
    height: calc(100% - 2vh);
    width: 95%;
    overflow: hidden;
    /* margin: 0 auto; */
}

.home-inner {
    width: 75%;
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
    /* justify-content: center; */
    transition: transform 0.5s ease-in-out;
}

.home-item {
    min-width: 75%;
    box-sizing: border-box;
}

.home-item img {
    width: 100%;
    height: auto;
    display: block;
}




/* PHONES */
@media screen and (max-width: 980px) {

    .main__container{
        height: 100vh;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto;
    }
    .main__content h1 {
        margin-top:  1.2rem;

    }
    .main__content p{
        margin-top: 5px;
    }
    .main__btn p{
        margin: 2.5rem 0;
    }

    #main__imgBIG{
        margin-top: 5px ;
        height: auto;
        width: 30vh;
        max-width: 380px;   
        border-radius: 50px;
    }
}


@media screen and (max-width: 900px) {
    .main__container{
        height: 200vh;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto;
    }
    #main__imgBIG{
        margin-top: 5px ;
        height: auto;
        width: 30vw;
        max-width: 200px;   
        border-radius: 30px;
    }
}

@media screen and (max-width: 500px) {

    .main__container{
        height: 90vh;
    }
    
    #main__imgBIG{
        margin-top: 5px ;
        height: auto;
        width: 30vh;
        max-width: 380px;   
        border-radius: 30px;
    }
}