*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.projects_main {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items:  center;
    height: auto;
}
.projects_main h1 {
    background: #ff8177;
    background-image: linear-gradient(to top, #b8336a 0%, #fd66ac 100%);
    background-size: 100%;
    margin-bottom: .5rem;
    font-size: min(max(25px, 5vw), 2.5rem);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.projects__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:90vw;
    padding: 2vw;
    height: auto;
}


.project__card {
    margin: 1rem;
    height: auto ;
    width: min(max(330px, 40vw), 575px);
    border-radius: 15px;
    background-image: linear-gradient(to Top,
     rgba(155, 155, 155, .25) 10%, rgba(168, 135, 91, 1) 100%);
    background-size: cover;
    position: relative;
    color: #fff;    
}
/* .project__card embed {
    border-radius: 15px;
    height: 460px;
    width: 950px;
    display: block;
    margin: 0 auto;
} */

.projects_main h2 {
    position: absolute;
    font-size: min(max(15px, 2vw), 25px);
    bottom: min(max(230px, 10vw), 150px);
    left: min(max(5px, 3vw), 30px);
}

.project__card p {
    position: absolute;
    font-size: min(max(10px, 1.25vw), 16px);
    bottom: min(max(100px, 10vw), 65px);
    left: min(max(5px, 3vw), 30px);
}

.project__card button{
    color: #fff;
    background: #fd66ac 100%;
    position: absolute;
    border: none;
    outline: none;
    padding: min(max(4px, .5vw), 10px) min(max(4px, 1vw), 20px);
    border-radius: min(max(3px, 1vw), 4px);
    bottom: min(max(5px, 10vw), 10px);
    left: min(max(5px, 3vw), 30px);
    font-size: min(max(8px, 3vw), 16px);
    cursor: pointer;
}
.project__card button:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in;
    cursor: pointer;
    z-index: 1;
}


/* USED FOR THE ROTATING IMAGES */
.carousel {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px;
    width: min(max(330px, 40vw), 575px);
    height: min(max(500px, 60vw), 700px);
    overflow: hidden;
    position: relative;
}

.drone-inner {
    position: absolute;
    top: 3%;
    width: 95%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;

}

.drone-item {
    min-width: 100%;
    box-sizing: border-box;
}

.drone-item img {
    width: 100%;
    display: block;
    max-height:450px;
}

.arm-inner {
    position: absolute;
    top: 3%;
    width: 95%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.arm-item {
    min-width:100%;
    box-sizing: border-box;
}

.arm-item img {
    width: 100%;
    display: block;
    max-height:450px;
}
.arm-item video {
    width: 100%;
    display: block;
    max-height:450px;
}


.longboard-inner {
    position: absolute;
    top: 3%;
    width: 95%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.longboard-item {
    min-width:100%;
    box-sizing: border-box;
}

.longboard-item img {
    width: 100%;
    display: block;
    max-height:450px;
}
.longboard-item video {
    width: 100%;
    display: block;
    max-height:450px;
}


.shiftRegister-inner {
    position: absolute;
    top: 15%;
    width: 95%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.shiftRegister-item {
    min-width:100%;
    box-sizing: border-box;
}

.shiftRegister-item video {
    width: 100%;
    display: block;
    max-height:450px;
}


.school-inner {
    position: absolute;
    top: 3%;
    width: 95%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.school-item {
    min-width:100%;
    box-sizing: border-box;
}

.school-item img {
    width: 100%;
    display: block;
    max-height:450px;
}

.mazeSolver-inner {
    position: absolute;
    top: 3%;
    width: 95%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.mazeSolver-item {
    min-width:100%;
    box-sizing: border-box;
}

.mazeSolver-item img {
    width: 100%;
    display: block;
    max-height:450px;
}
.mazeSolver-item video {
    width: 100%;
    display: block;
    max-height:450px;
}

.control {
    position: absolute;
    bottom: min(max(230px, 10vw), 160px);
    transform: translateY(-50%);
    font-size: min(max(30px, 5vw), 40px);
    color: #fd66ac;
    text-decoration: none;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
 
}

.control.left {
    left: min(max(125px, 14vw), 200px);
}
.control.right {
    right: min(max(125px, 14vw), 200px);
}

@media screen and (max-width: 500px) {

    .drone-item img {
        max-height:300px;
    }
    .arm-item img {
        max-height:300px;
    }
    .arm-item video {
        max-height:300px;
    }

    .longboard-item img {
        max-height:300px;
    }
    .longboard-item video {
        max-height:300px;
    }

    .school-item img {
        max-height:300px;
    }

    .mazeSolver-item img {
        max-height:300px;
    }
    .mazeSolver-item video {
        max-height:300px;
    }

}